html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#reordenable tr {
    cursor: move;
}

.divContenedor {
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    text-align: center;
}

.activos {
    color: blue;
}

.pasivos {
    color: red;
}

th, td{
    text-align: center;
}